.App{
  text-align: center;

}
.container {
  min-height: 100vh;
  height: auto;
  width: 100%;

  
  background-color: lightblue;
}

.container.dark{
  color:cadetblue;
  background-color: #20262E;
}

.weather {
  margin-block: 2rem;
}

